standard/om11/relaxng/altenc-sts.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS.attrib" combine="choice">
    <attribute name="cd">
      <value type="string">altenc</value>
    </attribute>
    <attribute name="name">
      <choice>
        <value type="string">MathML_encoding</value>
        <value type="string">LaTeX_encoding</value>
      </choice>
    </attribute>
  </define>
</grammar>
