standard/om11/relaxng/coercions.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS" combine="choice">
    <attribute name="cd">
      <value type="string">coercions</value>
    </attribute>
    <attribute name="name">
      <value type="string">int2flt</value>
    </attribute>
  </define>
</grammar>
