standard/om11/relaxng/piece1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS" combine="choice">
    <attribute name="cd">
      <value type="string">piece1</value>
    </attribute>
    <attribute name="name">
      <choice>
        <value type="string">piecewise</value>
        <value type="string">piece</value>
        <value type="string">otherwise</value>
      </choice>
    </attribute>
  </define>
</grammar>
