standard/om11/relaxng/polysts-sts.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS" combine="choice">
    <attribute name="cd">
      <value type="string">polysts</value>
    </attribute>
    <attribute name="name">
      <value type="string">polynomial_ring</value>
    </attribute>
  </define>
</grammar>
