standard/om11/relaxng/setoid-sts.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS" combine="choice">
    <attribute name="cd">
      <value type="string">setoid</value>
    </attribute>
    <attribute name="name">
      <choice>
        <value type="string">Setoid</value>
        <value type="string">make_Setoid</value>
      </choice>
    </attribute>
  </define>
</grammar>
