standard/om11/relaxng/typesorts.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="">
  <define name="cd.attlist.OMS" combine="choice">
    <attribute name="cd">
      <value type="string">typesorts</value>
    </attribute>
    <attribute name="name">
      <choice>
        <value type="string">Prop</value>
        <value type="string">Type0</value>
        <value type="string">Type</value>
      </choice>
    </attribute>
  </define>
</grammar>
